<!DOCTYPE html>
<html>
<head>
    <title>Thread Detail</title>
</head>
<body>

    <div class="container">

        <p><strong>Title:</strong> {{object.title}}</p>
        <p><strong>Created By:</strong> <a href="/user_detail_view/{{ object.creator.pk }}">{{ object.creator }}</a></p>
        <p><strong>Created On:</strong> {{ object.created }}</p>
        <hr>

        {% for post in object.post_set.all %}
            <a href="/post_detail/{{ post.pk }}">{{ post.title }}</a> <br>
        {% endfor %}
    </div>

</body>
</html>