<!DOCTYPE html>
<html>
<head>
    <title>User Search</title>
</head>
<body>

<div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">User Search<br>
                    <small>
                        {% if user.is_anonymous %}
                            <a href="{% url 'login_view' %}">login</a>
                        {% else %}
                            <a href="{% url 'logout_view' %}">logout</a>
                        {% endif %}
                    </small>
                </h1>
            </div>
        </div>    
    </div>

<hr>

<h1> Search For A User </h1>

<form action="/user_search/" method="GET">
    {% csrf_token %}
    <input name="username" type="text">
</form>

<hr>

{% for username in usernames %}
    <a href="/user_detail_view/{{ username.pk }}/"> {{ username }} | </a>
{% endfor %}

</body>
</html>